* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;

}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    background: #063146;
    /*使文本不可选*/
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #ffffff;
    padding-left: 40px;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;

}
.sidebar ul:hover a{
    padding-left: 50px;
}
.sidebar ul a i {
    margin-left: 5px;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    /*background: #042331;*/

    border-radius: 3px;

}
label #btn {
    left: 40px;
    top: 25px;
    /*font-size: 35px;*/
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    padding: 6px 12px;
    transition: all .5s;

}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 195px;
}

#check:checked ~ section {
    margin-left: 250px;
}

section {
    background: url("background.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;

}

